syntax: glob

**/*~
**/\.classpath
**/\.project
**/\.settings
**/\.idea
**/\.idea_modules
**/\.iml
**/\.lib
**/\.classpath_nb
**/\.ensime
**/\.ensime_lucene
**/\.metals
**/\.bloop
**/\.bsp
**/target/
